<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    *{
        margin: 0;
        background: #ffffff;
    }

    body{
        font-family: sans-serif;
    }

    .container{
        height: 250px;
        left: 0px;
        top: 133px;
        text-align: center;

        background: #EFEFEF;
    }
    /* Welcome! */
    p{ 
        position:absolute; 
        width:100%;
        height: 129px;
        top: 220px;

        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        
        background: #EFEFEF;
        color: #000000;
    }

    .multiple-choice{
        position:absolute;
        text-align: center;
        border-color:transparent;
        left: 450px;
        top: 455px;
        font-size: 36px;
    }

    .puzzle{
        position:absolute;
        text-align: center;
        border-color:transparent;
        left: 855px;
        top: 455px;
        font-size: 36px;
    }

    .coding{
        position:absolute;
        text-align: center;
        border-color:transparent;
        left: 1250px;
        top: 455px;
        font-size: 36px;
    }
    .problem-text{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        color: white;
    }

</style>

<body>

    <div class="logo">
        <img src="/img/logo.png" style="width: 281px; height:auto"/>
     </div>

    <div class="container">
        <p>Please complete the following to the <br> best of your abilities:</p>
    </div>

    <div class="multiple-choice">
        <form action="/startQuiz" method="POST"> <!--This form takes you to the multiple choice page when clicked calls /startQuiz-->
            <input type="hidden" name="name" value="<%=user%>">
            <input type="hidden" name="email" value="<%=email%>">

            <img src="/img/home/orange.png" style="width: 301px; height:301"/>
            <div class="problem-text">
                Multiple<br>Choice
                <button>Start</button>
            </div>
            <div class="multiple-percentage">0%</div>
        </form>
    </div>

    <div class="puzzle">
        <form action="/startPuzzles" method="POST"> <!--This form takes you to the coin puzzle page when clicked calls /startPuzzles-->
            <input type="hidden" name="name" value="<%=user%>">
            <input type="hidden" name="email" value="<%=email%>">

            <img src="/img/home/teal.png" style="width: 301px; height:301"/>
         
            <div class="problem-text">
                Problem<br>Solving<br>Puzzles
                <button >Start</button>
            </div>

            <div class="puzzle-percentage"><%=puzzlePercent%></div>
        </form>
    </div>

    <div class="coding">
        <form action="/startCoding" method="POST"> <!--This form takes you to the problemOne page when clicked calls /startCoding-->
            <input type="hidden" name="name" value="<%=user%>">
            <input type="hidden" name="email" value="<%=email%>">

            <img src="/img/home/pink.png" style="width: 301px; height:301"/>
            <div class="problem-text">
                Coding<br>Challenges
                <button>Start</button>
            </div>

            <div class="coding-percentage">0%</div>
        </form>
    </div>
</body>
</html>