<style>
	body{
		margin: 0;	
	}

	.container {
		width: 100vw;
		height: 100vh;
		font-size: 20px;

		display: grid;

		grid-template-columns: repeat(3, 55%);
		grid-template-rows: 100px 1fr 1fr 100px;

		gap: 10px;

		padding: 10px;
		box-sizing: border-box;	
		float: left;	

	}

	.container div {
		margin: 0;
	}

	.header {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.content-small {
		grid-row-start: 2;
		grid-row-end: span 2;
		grid-column-start: 1;
		grid-column-end: 2;
		background-color: #EFEFEF;
		
	}
	
	.content-large {
		grid-row-start: 2;
		grid-row-end: span 2;
		grid-column-start: 2;
		grid-column-end: 4;
	}

	.footer {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 4;
		grid-row-end:  4;
		
	}

</style>


<%- include('partials/header') -%>

<form action="probOneSubmit" method="POST"> <!--This form takes you to the problemTwo page which doesnt exist yet when clicked calls /problemOneSubmit-->
    <input type="hidden" name="name" value="<%=user%>">
    <input type="hidden" name="email" value="<%=email%>">

<div class="container ">
    <div class="logo">
        <img src="/img/logo.png" style="width: 241px; height:auto"/>
    </div>
    <div class="content-small">
        <h1 style="font-size: 36px;">Problem 1</h1>
            <p>
                Write a function to sort the given string "word" in alphabetical order.
            </p>
        <form action="/coinSubmit" method="POST">  <!--This form takes you to the buket puzzle when clicked calls /coinSubmit-->
            <input type="hidden" name="name" value="<%=user%>">
            <input type="hidden" name="email" value="<%=email%>">

            <label for="coinGuess">Answer</label>
            <input id="coin" type="number" min="1" max="100" name="coinGuess" placeholder="10"/>
            <br>
            <button class="button">Continue</button>

      </form>

    </div>

    <div class="content-large">
        <iframe style="width:100%;height:100%;border:0" src="https://replit.com/@RoccoEstrada1/CIG#main.cpp?lite=true"></iframe>
    </div>
	<div class="footer">
		<div class="columnFooter">
			<img src="img/CSUMB_Logo.jpg" alt="Trulli" width="40" height="40">CST499 Capstone. 2021 Estrada, Libhart, Latronica, Aguirre <br>
		</div>
	</div>
</div>

    <button class="button">Continue</button>
</form>
